<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script type="text/javascript" th:src="@{/js/project-page.js}"></script>
</head>
<body>
<div layout:fragment="content" class="content">
    <div class="container">
        <h1 class="mb-4 mt-4">Project</h1>
        <div class="row">
            <div class="col-sm-6">
                <div class="d-flex">
                    <button class="btn btn-primary" id="addFolderButton">Add folder</button>
                    <button class="btn btn-primary" id="addLinkButton">Add Link</button>
                    <button class="btn btn-primary" id="deleteButton">Delete</button>
                    <button class="btn btn-primary" id="renameButton">Rename</button>
                </div>
                <div id="jstree_div"></div>
            </div>
            <div class="col-sm-6">
                <h2 id="selectedTitle"></h2>
                <a id="selectedLink" href="#" target="_blank" class="fs-3"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>